
$colorBg-1: #fefefe;
$colorBg-2: #f7eee0;
$color-1: #e55b14;
$color-2: #a47551;
$color-3: #003060;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $colorBg-1;
    font-family: 'Roboto', sans-serif;

    h1 {
        font-family: 'Roboto Slab', serif;
    }
 
    .hero-logo {
        background-color: $colorBg-2;
        width:100%;
        padding: 15px 100px;
        position: fixed;
        z-index: 1;
        box-shadow: #0000001a 5px 10px 35px;

        img {
            max-width: 110px;
            margin: auto;
        }
    }

    .hero-color {
        padding: 100px;
        padding-top: 50px;
        border-radius: 0 0 100% 0%/20%;
        background-color: $colorBg-2;
        
        box-shadow: #0000001a 5px 10px 35px;
        .hero {
            display: flex;
            justify-content: space-between;
            
    
            .hero-text {
                flex: 0 1 40%;
                
                h1{
                    font-size: 50px;
                    color: $color-1;
                    padding: 40px 0;
                    margin-top: 50px;
                }
    
                h6 {
                    font-size: 15px;
                    color: $color-3;
                }
                .search{
                    display: flex;
                    text-align: center;
                    margin-top: 100px;
                    align-items: center;
                    .form__group {
                        position: relative;
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 85%;
                    }
                    
                    .form__field {
                        width: 100%;
                        border: 0;
                        border-bottom: 2px solid $color-3;
                        outline: 0;
                        font-size: 30px;
                        color: $color-3;
                        padding: 7px 0;
                        background: transparent;
                        font-weight: bold;
                    
                        &::placeholder {
                        color: transparent;
                        }
                    
                        &:placeholder-shown ~ .form__label {
                        font-size: 30px;
                        cursor: text;
                        top: 20px;
                        }
                    }
                    
                    .form__label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.5s;
                    color: $color-1;
                    
                    }
                      
                    .form__field:focus {
                        border-bottom: 2px solid $color-1;
                        
                        ~ .form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.5s;
                            font-size: 20px;
                            color: $color-1;
                            
                        }
                    }
                 
                    button {
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        margin-left: 20px;
                        img {
                            width: 30px;
                            position: absolute;
                        }
                        & :hover {
                            transition: all .5s;
                            transform: scale(1.5);
                            color: rgb(187, 219, 58);
                        }
                          
                    }
                }
            }
            .hero-image {
                flex: 0 1 50%;
                padding-bottom: 50px;
                img {
                    width: 100%;
                }
            }
        }
    }

    .loader {
        max-width: 0;
        margin: auto;
        visibility: hidden;
        .book {
            --color: #e55b14;;
            --background: #fefefe;
            --duration: 6.8s;
            width: 32px;
            height: 12px;
            position: relative;
            margin: 90px 0 0 -16px;
            transform-origin: 50% 100%;
            transform-style: preserve-3d;
            -webkit-animation: book-outer var(--duration) ease infinite;
                    animation: book-outer var(--duration) ease infinite;
          }
          
          .book .inner {
            width: 32px;
            height: 12px;
            position: relative;
            transform-origin: 2px 2px;
            transform: rotateZ(-90deg);
            transform-style: preserve-3d;
            -webkit-animation: book var(--duration) ease infinite;
                    animation: book var(--duration) ease infinite;
          }
          .book .inner .left,
          .book .inner .right {
            width: 60px;
            height: 4px;
            top: 0;
            background: var(--color);
            position: absolute;
            transform-style: preserve-3d;
          }
          .book .inner .left:before,
          .book .inner .right:before {
            content: "";
            width: 48px;
            height: 4px;
            background: inherit;
            position: absolute;
            top: -10px;
            left: 6px;
          }
          .book .inner .left:after,
          .book .inner .right:after {
            --x: 0;
            content: "";
            width: 70px;
            height: 80px;
            background: var(--background);
            border: 4px solid var(--color);
            position: absolute;
            left: 0;
            top: 0;
            transform: rotateX(90deg) translateZ(36px) translateY(-40px) translateX(var(--x));
          }
          .book .inner .left {
            right: 28px;
            transform-origin: 58px 2px;
            transform: rotateZ(90deg);
            -webkit-animation: left var(--duration) ease infinite;
                    animation: left var(--duration) ease infinite;
          }
          .book .inner .right {
            left: 28px;
            transform-origin: 2px 2px;
            transform: rotateZ(-90deg);
            -webkit-animation: right var(--duration) ease infinite;
                    animation: right var(--duration) ease infinite;
          }
          .book .inner .right:after {
            --x: -10px;
          }
          .book .inner .middle {
            width: 32px;
            height: 12px;
            border: 4px solid var(--color);
            border-top: 0;
            transform: translateY(2px);
          }
          .book .inner .middle:after {
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            height: 70px;
            background: var(--background);
            position: absolute;
            transform: translateZ(1px);
          }
          .book ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            left: 50%;
            top: 0;
          }
          .book ul li {
            transform-style: preserve-3d;
            height: 4px;
            transform-origin: 100% 2px;
            width: 48px;
            right: 0;
            top: -10px;
            position: absolute;
            background: var(--color);
            transform: rotateZ(0deg) translateX(-18px);
            -webkit-animation-duration: var(--duration);
                    animation-duration: var(--duration);
            -webkit-animation-timing-function: ease;
                    animation-timing-function: ease;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
          }
          .book ul li:before {
            content: "";
            transform-origin: 0 0;
            transform: rotateX(90deg) translateY(-80px);
            position: absolute;
            display: block;
            width: 60px;
            height: 80px;
            left: -6px;
            border: 4px solid var(--color);
            background: var(--background);
          }
          .book ul li:nth-child(0) {
            -webkit-animation-name: page-0;
                    animation-name: page-0;
          }
          .book ul li:nth-child(1) {
            -webkit-animation-name: page-1;
                    animation-name: page-1;
          }
          .book ul li:nth-child(2) {
            -webkit-animation-name: page-2;
                    animation-name: page-2;
          }
          .book ul li:nth-child(3) {
            -webkit-animation-name: page-3;
                    animation-name: page-3;
          }
          .book ul li:nth-child(4) {
            -webkit-animation-name: page-4;
                    animation-name: page-4;
          }
          .book ul li:nth-child(5) {
            -webkit-animation-name: page-5;
                    animation-name: page-5;
          }
          .book ul li:nth-child(6) {
            -webkit-animation-name: page-6;
                    animation-name: page-6;
          }
          .book ul li:nth-child(7) {
            -webkit-animation-name: page-7;
                    animation-name: page-7;
          }
          .book ul li:nth-child(8) {
            -webkit-animation-name: page-8;
                    animation-name: page-8;
          }
          .book ul li:nth-child(9) {
            -webkit-animation-name: page-9;
                    animation-name: page-9;
          }
          .book ul li:nth-child(10) {
            -webkit-animation-name: page-10;
                    animation-name: page-10;
          }
          .book ul li:nth-child(11) {
            -webkit-animation-name: page-11;
                    animation-name: page-11;
          }
          .book ul li:nth-child(12) {
            -webkit-animation-name: page-12;
                    animation-name: page-12;
          }
          .book ul li:nth-child(13) {
            -webkit-animation-name: page-13;
                    animation-name: page-13;
          }
          .book ul li:nth-child(14) {
            -webkit-animation-name: page-14;
                    animation-name: page-14;
          }
          .book ul li:nth-child(15) {
            -webkit-animation-name: page-15;
                    animation-name: page-15;
          }
          .book ul li:nth-child(16) {
            -webkit-animation-name: page-16;
                    animation-name: page-16;
          }
          .book ul li:nth-child(17) {
            -webkit-animation-name: page-17;
                    animation-name: page-17;
          }
          .book ul li:nth-child(18) {
            -webkit-animation-name: page-18;
                    animation-name: page-18;
          }
          .book ul li:nth-child(19) {
            -webkit-animation-name: page-19;
                    animation-name: page-19;
          }
          .book ul li:nth-child(20) {
            -webkit-animation-name: page-20;
                    animation-name: page-20;
          }
          
        @-webkit-keyframes page-0 {
        4% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        13%, 54% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        63% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-0 {
        4% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        13%, 54% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        63% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-1 {
        5.86% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        14.74%, 55.86% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        64.74% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-1 {
        5.86% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        14.74%, 55.86% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        64.74% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-2 {
        7.72% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        16.48%, 57.72% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        66.48% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-2 {
        7.72% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        16.48%, 57.72% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        66.48% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-3 {
        9.58% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        18.22%, 59.58% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        68.22% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-3 {
        9.58% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        18.22%, 59.58% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        68.22% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-4 {
        11.44% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        19.96%, 61.44% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        69.96% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-4 {
        11.44% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        19.96%, 61.44% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        69.96% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-5 {
        13.3% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        21.7%, 63.3% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        71.7% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-5 {
        13.3% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        21.7%, 63.3% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        71.7% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-6 {
        15.16% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        23.44%, 65.16% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        73.44% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-6 {
        15.16% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        23.44%, 65.16% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        73.44% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-7 {
        17.02% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        25.18%, 67.02% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        75.18% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-7 {
        17.02% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        25.18%, 67.02% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        75.18% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-8 {
        18.88% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        26.92%, 68.88% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        76.92% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-8 {
        18.88% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        26.92%, 68.88% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        76.92% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-9 {
        20.74% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        28.66%, 70.74% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        78.66% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-9 {
        20.74% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        28.66%, 70.74% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        78.66% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-10 {
        22.6% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        30.4%, 72.6% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        80.4% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-10 {
        22.6% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        30.4%, 72.6% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        80.4% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-11 {
        24.46% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        32.14%, 74.46% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        82.14% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-11 {
        24.46% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        32.14%, 74.46% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        82.14% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-12 {
        26.32% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        33.88%, 76.32% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        83.88% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-12 {
        26.32% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        33.88%, 76.32% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        83.88% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-13 {
        28.18% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        35.62%, 78.18% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        85.62% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-13 {
        28.18% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        35.62%, 78.18% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        85.62% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-14 {
        30.04% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        37.36%, 80.04% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        87.36% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-14 {
        30.04% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        37.36%, 80.04% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        87.36% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-15 {
        31.9% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        39.1%, 81.9% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        89.1% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-15 {
        31.9% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        39.1%, 81.9% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        89.1% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-16 {
        33.76% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        40.84%, 83.76% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        90.84% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-16 {
        33.76% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        40.84%, 83.76% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        90.84% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-17 {
        35.62% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        42.58%, 85.62% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        92.58% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-17 {
        35.62% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        42.58%, 85.62% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        92.58% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-18 {
        37.48% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        44.32%, 87.48% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        94.32% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-18 {
        37.48% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        44.32%, 87.48% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        94.32% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-19 {
        39.34% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        46.06%, 89.34% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        96.06% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-19 {
        39.34% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        46.06%, 89.34% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        96.06% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes page-20 {
        41.2% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        47.8%, 91.2% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        97.8% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }
        @keyframes page-20 {
        41.2% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        47.8%, 91.2% {
            transform: rotateZ(180deg) translateX(-18px);
        }
        97.8% {
            transform: rotateZ(0deg) translateX(-18px);
        }
        }

        @-webkit-keyframes left {
        4% {
            transform: rotateZ(90deg);
        }
        10%, 40% {
            transform: rotateZ(0deg);
        }
        46%, 54% {
            transform: rotateZ(90deg);
        }
        60%, 90% {
            transform: rotateZ(0deg);
        }
        96% {
            transform: rotateZ(90deg);
        }
        }
        @keyframes left {
        4% {
            transform: rotateZ(90deg);
        }
        10%, 40% {
            transform: rotateZ(0deg);
        }
        46%, 54% {
            transform: rotateZ(90deg);
        }
        60%, 90% {
            transform: rotateZ(0deg);
        }
        96% {
            transform: rotateZ(90deg);
        }
        }

        @-webkit-keyframes right {
        4% {
            transform: rotateZ(-90deg);
        }
        10%, 40% {
            transform: rotateZ(0deg);
        }
        46%, 54% {
            transform: rotateZ(-90deg);
        }
        60%, 90% {
            transform: rotateZ(0deg);
        }
        96% {
            transform: rotateZ(-90deg);
        }
        }
        @keyframes right {
        4% {
            transform: rotateZ(-90deg);
        }
        10%, 40% {
            transform: rotateZ(0deg);
        }
        46%, 54% {
            transform: rotateZ(-90deg);
        }
        60%, 90% {
            transform: rotateZ(0deg);
        }
        96% {
            transform: rotateZ(-90deg);
        }
        }

        @-webkit-keyframes book-outer {
        43% {
            transform: rotateX(0deg);
        }
        50%, 92% {
            transform: rotateX(-90deg);
        }
        }
        @keyframes book-outer {
        43% {
            transform: rotateX(0deg);
        }
        50%, 92% {
            transform: rotateX(-90deg);
        }
        }

        @-webkit-keyframes book {
        4% {
            transform: rotateZ(-90deg);
        }
        10%, 40% {
            transform: rotateZ(0deg);
            transform-origin: 2px 2px;
        }
        40.01%, 59.99% {
            transform-origin: 30px 2px;
        }
        46%, 54% {
            transform: rotateZ(90deg);
        }
        60%, 90% {
            transform: rotateZ(0deg);
            transform-origin: 2px 2px;
        }
        96% {
            transform: rotateZ(-90deg);
        }
        }
        @keyframes book {
            4% {
              transform: rotateZ(-90deg);
            }
            10%, 40% {
              transform: rotateZ(0deg);
              transform-origin: 2px 2px;
            }
            40.01%, 59.99% {
              transform-origin: 30px 2px;
            }
            46%, 54% {
              transform: rotateZ(90deg);
            }
            60%, 90% {
              transform: rotateZ(0deg);
              transform-origin: 2px 2px;
            }
            96% {
              transform: rotateZ(-90deg);
            }
        }

        html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        }

        * {
        box-sizing: inherit;
        }
        *:before, *:after {
        box-sizing: inherit;
        }
          
    }

    .loader.display {
        visibility: visible;
    }

    .output {
        .errorMessage  {
            max-width: 400px;
            margin: auto;
            text-align: center;
            color: $color-2;
        }

        display: flex;
        flex-wrap: wrap;
        margin: 90px;
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
        
        .books-container {
            flex: 0 1 20%;
            // padding: 10px;
            margin: 25px 10px;
            background-color: $colorBg-2;
            border-radius: 10px;
            padding-bottom: 10px;
            max-width: 250px;
            box-shadow: #0000001a 5px 10px 25px;
    
            .bookCover {
                margin: auto;
                text-align: center;
                img {
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                    width: 250px;
                    height: 200px;
                }
            }
        
            .bookTitle {
                height: 20px;
                color: $color-3;
                margin: 10px;
                
                h1 {
                    font-size: 16px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        
            .authorName {
                height: 20px;
                color: $color-2;
                margin: 20px 10px;
                padding-top: 10px;
                h3 {
                    font-size: 13px;
                    font-weight: 400;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        
            .coverPlace {
                background-color: $color-3;
                width: 250px;
                height: 200px;
                border-radius: 10px 10px 0 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                .titlePlace {
                    font-size: 18px;
                    color: $color-1;
                    padding: 20px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
                .authorPlace {
                    color: $color-2;
                    font-size: 15px;
                    padding: 20px;
                }
            }
        
            .linkBtn {
                text-align: right;
                margin: 10px;
                padding: 10px;
                padding-right: 0;
                .bookLink {
                    background-color: $color-1;
                    padding: 10px 14px;
                    border-radius: 50px;
                    text-decoration: none;
                    color: $colorBg-2;
                    border: 1px solid transparent;
                    font-size: 12px;
                    letter-spacing: 1px;
                    box-shadow: #00000026 2px 3px 15px;
    
                    &:hover {
                        border: 1px solid $color-1;
                        background-color: $colorBg-2;
                        color: $color-1;
                    }
                }
            }

            
        }
    }
}


// ____________________________________________________________________
@media (max-width: 992px) {
    body {
        .hero-logo {
            text-align: center;
            img {
                width: 85px;
            }
        }
        .hero-color {
            padding: 40px;
            padding-top: 75px;
            border-radius: 0;
            .hero {
                flex-direction: column-reverse;
                text-align: center;

                .hero-text {
                    h1{
                        font-size: 40px;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        padding: 0;
                    }

                    .search{
                        margin-top: 25px;
                        justify-content: center;
                        
                    }
                }
                .hero-image {
                    padding-bottom: 0;
                    
                    img {
                        width: 80%;
                    }
                }
            }
        }
        .output {
            justify-content: center;
           
            .books-container {
                .bookCover {
                    img {
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                        width: 200px;
                        height: 150px;
                    }
                }
            
                .coverPlace {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}